<div class="nav-scroller py-1 mb-2 border-bottom">
  <nav class="nav d-flex justify-content-between">
    <% Topic.order(:title).map(&:title).each do |topic| %>
      <%= link_to topic.capitalize, blogs_path(topic_title: topic.capitalize), class: 'p-2 text-muted' %>
    <% end %>
    <%= link_to "All", blogs_path, class: 'p-2 text-muted' %>
  </nav>
</div>