<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About me</h4>
    <p class="mb-0">I can describe myself as communicative, stress-resistant, hard-working and easy-to-learn person. I’m open for acquiring new knowledge and ready to do everything to constantly improve my professional skills in software testing</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/dzmitrytrystsen" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/tristendmitry/" target="_blank"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.facebook.com/walter.gripp.35/" target="_blank"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
  </aside>