<h1>About me</h1>
<p>I can describe myself as communicative, stress-resistant, hard-working and easy-to-learn person. I’m open for acquiring new knowledge and ready to do everything to constantly improve my professional skills in software testing</p>
