<h1>My Contacts</h1>
<div class='row'>
  <div class='col-md-6'>
    <h3>Phone</h3>

    <p><%= number_to_phone '+375336710989' %></p>
  
    <h3>Email</h3>

    <p><a href="mailto:dzmitrytrystsen@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

    <h3>LinkedIn</h3>

    <p><a href="https://www.linkedin.com/in/tristendmitry/" target="_blank">Go to my Profile</a></p>
  </div>

  <div class='col-md-6'>
    <h3>Address</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150505.2010086274!2d27.453286167732873!3d53.88476083094834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2sMinsk!5e0!3m2!1sen!2sby!4v1577356572849!5m2!1sen!2sby" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>